<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>write page</title>
  </head>
  <body>
    <fieldset style="width: 500px;">
      <legend><h3>정보 입력란</h3></legend>
      <form action="/main" method="post">
        <table class="table table-bordered">
          <tr>
            <th>제품명</th>
            <td><input type="text" name="name" /></td>
          </tr>
          <tr>
            <th>가격</th>
            <td><input type="text" name="price" /></td>
          </tr>
          <tr>
            <th>설명</th>
            <td>
              <input type="text" name="description" />
            </td>
          </tr>
        </table>
        <button class="btn btn-primary">작성완료</button>
      </form>
    </fieldset>
  </body>
</html>
